.header{
      width: 100%;
      min-width: 1100px;
      height: auto;
      background: #ffffff;
      border-bottom: 1px solid #ededed;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
      z-index: 200;

  }
    body {
      margin: 0px;
  }
  
    .biaoti{

      margin: 0 auto;
      width: 1100px;
      height: 70px;

    }
    .picture{
    display: inline-block;
    width: 72px;
    height: 25px;
    margin-top: 22.5px;
    background-size: 72px 25px;
    background-image: url(8fc4cd6f771897cbf9663166a63a5302.png);
    }
    .link{
    float: left;
    width: 78px;
    color: #999;
    font-size: 10px;
    font-weight: 300;
    line-height: 13px;
    margin: 0;
    padding: 0;
    border: 0;
    }
    .link-big{
    display: inline-block;
    width: 60px;
    margin-left: 10px;
    margin-bottom: -1px;
    }

    ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  }
  li{
    margin: 0;
    border: 0;
    font-size: 100%;
 }
 a{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
 }
 .header .biaoti .nav-list {
  float: right;
}

.header .biaoti .nav-list > li .shouye {
  color: #FF4444 ;
}
 .caret:after,   .caret:before {
      content: ' ';
      height: 0;
      width: 0;
      top: 100px;
      position: absolute;
      left: 5px;
      border: 5px solid transparent; 
    }
   .biaoti .caret:before {
      border-top-color: #ffffff;
      top: -9px;
      z-index: 2; 
    }
   .biaoti .caret:after {
      border-top-color: #333;
      top: -7px;
      z-index: 1; 
    } 
  .product-center:hover{
    color: red ;
  } 
  .lia:hover{
      color: red ;
    }
    .header .biaoti .dl1{
    padding: 0px 0px 0px 20px;
/* 内边距 */
    }
    .header .biaoti .zc1{
    padding: 0px 0px 0px 10px;

    }
    .dl{
    width: 80px;
    height: 30px;
    line-height: 28px;
    display: inline-block;
    border: 1px solid #2B90ED;
    color: #2B90ED;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;

    }
    .zc{
    width: 80px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background-color: #2B90ED;
    color: #ffffff;
    text-align: center;

    }
    .dl:hover{
      color:#ffffff;
      background-color:#2B90ED;
    }
    .zc:hover{
      background-color:rgb(72, 153, 230);
    }
    .caret{
    position: relative;
    display: inline-block;
    /* 规定元素应该生成的框的类型 */
    }
    .caret:hover{
      color:red;
    }
   #aaa{
    height: 420px;
  }
    .swiper{
    background-image: url(topbanner1@2x.jpg);
    position: absolute;
    /* 绝对定位 */
    width: 1519px;
    height: 420px;
    background-size: cover;
    /* 规定背景图像的尺寸 */
    background-position: 100%;
    /* 设置背景图像的起始位置 */
    }
    .content{
      position: absolute;
      width: 1100px;
      height:420px;
      left: 0;
      right: 0;
      margin: auto;
    }
    .yzwsc{
    margin-top: 100px;
    display: block;
    font-size: 2.53em;
    }
    .ygrj{
    font-size: 20px;
    color: #777;
    margin-bottom: 55px;
    }
    .button{
    width: 160px;
    height: 40px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    /* 水平对齐 */
    box-sizing: border-box;
    /* 边框 */
    background: #38f;
    padding: 12px 42px;
    color: #fff;
    }
    .button:hover{
    background-color:rgb(76, 76, 245);
    }
    .font{
    font-size: 14px;
    color: #777;
    margin-top: 15px;
    display: block;
    }
   .nav-list > li {
      float: left;
      display: inline-block;
      height: 70px;
      line-height: 70px;
      padding: 0px 20px;
    }
    .sj{
      width: 1000px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
   }
   .sjz{
    position: absolute;
    top: 50%;
    right: 1130px;
    width: 60px;
    height: 60px;
    background-image: url(L.png);
    margin-top: -22px;
   }
   .sjy{
    position: absolute;
    top:50%;
    left: 1130px;
    width: 60px;
    height: 60px;
    background-image:url(R.png);
    margin-top: -22px;
   }
   .container{
    margin: 28px 0px;
   }
   .wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.fa  {
  
    font-size: 28px;
    text-align: center;
    line-height: 40px;
    /* 行高 */
    padding-top: 90px;


 }
 .wcard-content {
  display: flex;
  margin-top: 70px;
}
.wcard-section {
  margin-bottom: 28px;
}
 .bianc {
  color: #333;
  font-size: 18px;
 }
 .yuany {
  margin-top: 5px;
  font-size: 14px;
  /* 文字大小 */
  color: #999;
}

.mfsy{

 background-color: #38f;
 color: #fff;
 font-size: 14px;
padding: 10px 42px;
display: inline-block;
}
.gnjs{
    border: 1px solid #38f;
    /* 边框 */
    color: #38f;
    padding: 10px 42px;
    font-size: 14px;
    display: inline-block;
    /* 行变块 */
}
.gd{
  width: 615px;
}
.wcard-left{
  flex: 1;
  /* flex-grow 设置或检索弹性盒子的扩展比率, 
  /* flex-shrink默认值为1，如果没有显示定义该属性， 
  将会自动按照默认值1在所有因子相加之后计算比率来进行空间收缩。 */
  /* flex-basis 用于设置或检索弹性盒伸缩基准值
   默认值为0 1 auto。后两个属性可选。 */
}
