.header{
  width: 100%;
  min-width: 1100px;
  height: auto;
  position: relative;
  background: #ffffff;
  border-bottom: 1px solid #ededed;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  z-index: 200;
  transition: all 0.5s ease-in;
    }
    body {
      display: block;
      margin: 0px;
  }
  
    .biaoti{
      box-sizing: border-box;
      margin: 0 auto;
      width: 1100px;
      height: 70px;
      zoom: 1
    }
    .picture{
    display: inline-block;
    width: 72px;
    height: 25px;
    margin-top: 22.5px;
    background-size: 72px 25px;
    background-image: url(E:/20zouyu/yanzan/tupian/8fc4cd6f771897cbf9663166a63a5302.png);
    }
    .link{
    float: left;
    width: 78px;
    color: #999;
    font-size: 10px;
    font-weight: 300;
    line-height: 13px;
    margin: 0;
    padding: 0;
    border: 0;
    }
    .link-big{
    display: inline-block;
    width: 60px;
    margin-left: 10px;
    margin-bottom: -1px;
    }
    .biaoti a {
      text-decoration: none;
    }
    
    ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }
  li{
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline; 
    text-align: -webkit-match-parent;


 }
 a{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
 }
 .header .biaoti .nav-list {
  float: right;
  zoom: 1;
}
.header ul{
  list-style: none;
}

.header .biaoti .nav-list > li .shouye {
  text-decoration: none;
  color: #FF4444 ;
}

.header .biaot1.nav-list .li1{
  z-index: 200;
}
.header-container.biaoti.nav-list .li1 {
  margin-right: 16px;
}
 .caret:after,   .caret:before {
      content: ' ';
      height: 0;
      width: 0;
      top: 100px;
      position: absolute;
      left: 5px;
      border: 5px solid transparent; 
    }
   .biaoti .caret:before {
      border-top-color: #ffffff;
      top: -9px;
      z-index: 2; 
    }
   .biaoti .caret:after {
      border-top-color: #333;
      top: -7px;
      z-index: 1; 
    } 
  .product-center:hover{
    color: red ;
  } 
  .lia:hover{
      color: red ;
    }
    .header .biaoti .dl {
    padding: 0px 0px 0px 20px;

    }
    .header .biaoti .zc{
    padding: 0px 0px 0px 10px;

    }
    .login{
    width: 80px;
    height: 30px;
    line-height: 28px;
    display: inline-block;
    border: 1px solid #2B90ED;
    color: #2B90ED;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    }
    .login2{
    width: 80px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background-color: #2B90ED;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    }
    .caret{
    position: relative;
    display: inline-block;
    background-image:url(E:/20zouyu/yanzan/tupian/sanjiao.png);
    }
   #aaa{
    height: 420px;
    width: 100%;
    position: relative;
  }
    .swiper{
    background-image: url(E:/20zouyu/yanzan/tupian/topbanner1@2x.jpg);
    position: absolute;
    width: 1519px;
    height: 420px;
    background-size: cover;
    background-position: 100%;

    }
    .content{
      position: absolute;
      width: 1100px;
      height:420px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    .yzwsc{
    margin-top: 100px;
    display: block;
    font-size: 2.53em;
    }
    .ygrj{
    font-size: 20px;
    color: #777;
    margin-bottom: 55px;
    }
    .button{
    width: 160px;
    height: 40px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    background: #38f;
    padding: 12px 42px;
    color: #fff;
    }
    .font{
    font-size: 14px;
    color: #777;
    margin-top: 15px;
    display: block;
    }
   .nav-list > li {
      float: left;
      display: inline-block;
      height: 70px;
      line-height: 70px;
      padding: 0px 20px;
    }
    .sj{
      width: 1000px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
   }
   .sjz{
    position: absolute;
    top: 50%;
    right: 1130px;
    left: auto;
    width: 60px;
    height: 60px;
    background-size: 100% 100%;
    background-image: url(E:/20zouyu/yanzan/tupian/L.png);
    margin-top: -22px;
    z-index:10;
    cursor:pointer;
    background-position: 50%;
    background-repeat: no-repeat;
   }
   .sjy{
    position: absolute;
    top:50%;
    left: 1130px;
    right: auto;
    width: 60px;
    height: 60px;
    background-size: 100% 100%;
    background-image:url(E:/20zouyu/yanzan/tupian/R.png);
    margin-top: -22px;
    z-index:10;
    cursor:pointer;
    background-position: 50%;
    background-repeat: no-repeat
   }
   .container{
    margin: 28px 0px;
   }
   .wrapper {
    max-width: 1100px;
    height: 620px;
    margin: 0 auto;
    position: relative;
    zoom: 1;
}
.content{
 

}
.fa  {
  
    font-size: 28px;
    color: #333;
    letter-spacing: 0;
    text-align: center;
    line-height: 40px;
    padding-top: 90px;


 }
 .wcard-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  height: 446px;
}
.wcard-section {
  margin-bottom: 28px;
}
 .bianc {
  color: #333;
  font-size: 18px;
  line-height: 24px;
  font-family: PingFangSC-Medium;
  letter-spacing: 0;
}
 .yuany {
  margin-top: 5px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #999;
  letter-spacing: 0;
  line-height: 24px;
}

.mfsy{

 background-color: #38f;
 color: #fff;
 font-size: 14px;
padding: 10px 42px;
border-radius: 2px;
display: inline-block;
cursor: pointer;
}
.gnjs{
  border: 1px solid #38f;
    color: #38f;
    padding: 10px 42px;
    font-size: 14px;
    border-radius: 2px;
    display: inline-block;
    text-decoration: none;
}
.gd{
  width: 615px;

}
.wcard-left{

  flex: 1;

}
